*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
}
body{
    scroll-behavior: smooth;
}
    
.navbar{
    margin:0;
    top:-10px;
    width:100vw;
   position:fixed;
   z-index: 100;
}
.container-fluid{
    background: rgb(20, 4, 49);
    margin:0px;
}
.nav-item a{
    color :white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-brand {
	font-size: max(.5rem, 6cqi);
	color: #69e5d2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1;
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	transform-style: preserve-3d;
	animation: scale 2s ease-in-out infinite 1s;
}
@keyframes scale {
	to {
		transform: rotate(-180deg) rotateX(-20deg) translateY(90%);
	}
}
.nav-link:hover{
    color: #69e5d2;
    border-bottom: 2px solid #69e5d2;
}

.btn  {
    padding-right:25px;
    color:white;
    background: #000;
}
.btn:hover{
    background: rgb(43, 42, 42);
}
.left-rec{
    width:50px;
    height:300px;
    background: rgb(13, 5, 36);
    position:absolute;
    transform:translate(20px,25px)rotate(135deg);
    top:550px;
    z-index:-1;
}
.left-down-rec{
    width:50px;
    height:260px;
    background: rgb(3, 40, 42);
    position:absolute;
    transform:translate(50px,100px)rotate(135deg);
    top:585px;
    z-index: -1;
}

section{
    min-height:100vh;
    width:100vw;
}
#home{
    
}
.sections
{
    height:auto;
    width:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.intro-me{
    height:40vh;
    width:100vw;
}
.m-about{
    height:400px;
    width:300px;
    border:2px solid  rgb(9, 6, 6);
    /* background: red; */
    top:500px;
    /* position: absolute; */
    margin:5px;
    bottom:200px;
    /* background: #000; */
}
#me{
    /* image: url('../src/assest/about.png'); */
}
#about{

}
#project{
    background: red;
}
#skill{
   background: yellow; 
}
#contact{
   background: blue; 
}

